services:
  # Backend Service
  backend:
    build: ./Backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      # Using your Cloud Database
      - MONGO_URI=mongodb+srv://sudhanshu6073:Sudhanshu002@cluster0.haxwwwx.mongodb.net/recipe_db
      # FIXED: Allow the Docker Frontend (localhost:3000) to access the API
      - CORS_ORIGIN=http://localhost:3000
    depends_on:
      - mongo

  # Frontend Service
  frontend:
    build: ./Frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  # Database Service (Still good to keep for local testing, even if using Atlas)
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: