version: '3.8'

services:
  # Backend Service
  backend:
    build: ./Backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/zaika-vault
    depends_on:
      - mongo

  # Frontend Service
  frontend:
    build: ./Frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  # Database Service (Runs a local MongoDB inside Docker)
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: